body {
    background-color: #CCC;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background: rgb(32,13,35);
    background: linear-gradient(180deg, rgba(32,13,35,1) 0%, rgba(99,30,111,1) 80%);
    color: #fff1d9;
    margin: auto;

    width: 800px;
    text-align: center;  
    font-size: 1rem;

    border-radius: 0.6rem;
}

.header {
    padding: 1.2rem;
}

.header-title {
    color: #fecd23;
   
    font-size: 2.1rem;
    font-weight: 700;

    margin-bottom: 2.8rem; 
}

.header-subtitle1 {
    margin-bottom: 0.6rem; 
}

.header-subtitle2 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.gift {
    font-weight: bold;
}

.main {
    background: rgb(32,13,35);
    background: linear-gradient(0deg, rgba(32,13,35,1) 0%, rgba(100,31,111,1) 80%);
    border-radius: 10px;
    margin: auto;
    width: 750px;
}

.main-title {
    font-size: 1.5rem;
    padding: 1.2rem;  
}

input {
    font-size: 1.2rem;
    padding-left: 0.6rem;
    height: 2.1rem;

    width: 70%;
    margin: 0.9rem;

    border-radius: 5px;
    border: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #2f1034;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;

    font-size: 1.5rem;
}

.icon1 {
    width: 25%;

    margin-bottom: 1.2rem;

    padding-top: 1.8rem;

    background: rgb(65,102,239);
    background: linear-gradient(180deg, rgba(65,102,239,1) 0%, rgba(98,170,250,1) 54%);

    border: 12px solid #2c31b8;
    border-radius: 10px;
}

.icon2 {
    width: 25%;

    margin-bottom: 1.2rem;

    padding-top: 1.8rem;

    background: rgb(65,102,239);
    background: linear-gradient(180deg, rgba(65,102,239,1) 0%, rgba(98,170,250,1) 54%);

    border: 12px solid #2c31b8;
    border-radius: 10px;
}

.icon3 {    
    width: 25%;

    margin-bottom: 1.2rem;

    padding-top: 1.8rem;

    background: rgb(65,102,239);
    background: linear-gradient(180deg, rgba(65,102,239,1) 0%, rgba(98,170,250,1) 54%);

    border: 12px solid #2c31b8;
    border-radius: 10px;
}

button {
    background-color: #1d0c20;
    color: #FFF;
    font-size: 1.1rem;
    
    width: 60%;
    padding: 0.9rem 1.2rem;
    margin-bottom: 0.6rem;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: #2f1034;
}

.footer {
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;

    font-size: 0.9rem;
}

@media screen and (max-width: 570px) {
    html {
        font-size: 13px;
    }
    
    .icons {
        flex-direction: column;
        align-items: center;
    }

    .icon1, .icon2, .icon3 {
        width: 55%;
    }

    .container {
        width: 90%;
    }

    .main {
        width: 90%;
    }
}

